<h2 class="red">{{model.artists.name}}</h2>
<br>
<h2>Followers: {{model.artists.followers.total}}</h2>
  <br>
<h3>Popularity: {{model.artists.popularity}}</h3>
 <img src="{{model.artists.images.[0].url}}"/>

<!-- <h1 class="text-center">Albums</h1>
<div class="flex-container">
{{#each model.albums as |album|}}
  <img src="{{album.images.[0].url}}" width="300px" height="300px"/>
{{/each}} -->

<h1 class="text-center">Top 10 Tracks</h1>
<div class="flex-container">
{{#each model.tracks as |songs|}}
<iframe src="https://embed.spotify.com/?uri={{songs.uri}}&theme=white&view=coverart" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
{{/each}}
</div>
