<h1>Welcome</h1>
<!-- {{#each model.name as |artist|}}
  <h4>{{artist}}</h4>
{{/each}} -->


<h1>{{model.name}}</h1>
<br>
Followers: {{model.followers.total}} <br>
Popularity:{{model.popularity}} <br>
Genres: {{model.genres}} <br>
 <img src="{{model.images.[0].url}}"/>
