<h1>Welcome</h1>
<!-- {{#each model.name as |artist|}}
  <h4>{{artist}}</h4>
{{/each}} -->


<h1>{{model.name}}</h1>
<br>
<h2>Followers: {{model.followers.total}}</h2>
  <br>
<h3>{{model.popularity}}</h3>
 <img src="{{model.images.[0].url}}"/>
