<h1>Results</h1>
<ul>
  {{#each model as |search|}}
    <li> Name: {{search.name}} <br>
    Followers: {{search.followers.total}} <br>
    Popularity:{{search.popularity}} <br>
    Genres: {{search.genres}} <br>

    <img src="{{search.images.[0].url}}" alt="Image" width="300px">

  </li><br>
    <!-- <a href="{{search.spotify}}" target="_blank">link</a></li> <br> -->
  {{/each}}
</ul>
<img src='{{search.images}}'/>
