<h1>Results</h1>
<ul>
  {{#each model as |search|}}
    {{#link-to 'details' search.id}}{{search.name}}{{/link-to}}
    Followers: {{search.followers.total}} <br>
    Popularity:{{search.popularity}} <br>
    Genres: {{search.genres}} <br>

    <img src="{{search.images.[0].url}}" alt="Image" width="300px">
  {{/each}}
</ul>
<img src='{{search.images}}'/>
